* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.Speedometer-Container {
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speedometer {
  width: 50%;
  height: 50%;
}

.speedometerParent {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
}

.paragraph {
  color: white;
  font-size: 20px;
}

.bttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.accelerate {
  border-radius: 10px;
  background-color: blue;
  color: white;
  height: 30px;
  border-style: none;
  font-family: Roboto;
  font-size:14px;

}

.brack {
  border-color: grey;
  background-color: black;
  border-radius: 10px;
  color: white;
  height: 30px;
  font-family: Roboto;
  font-size:14px;
  border-style: solid;
}